* {
  margin: 0;
  padding: 0;
}

h1 {
  font-family: fantasy;
  font-weight: bolder;
  color: black;
  position: absolute;
  text-align: center;
  margin-top: 30px;
  padding-top: 10px;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%)
}

#red-win-message {
  display: none;
  position: absolute;
  margin-left: 33%;
  margin-top: 350px;
}
#red-win-message p {
  font-size: 20px;
  margin-top: 480px;
}

#red-win-message h1{
  color: red;
}

#blue-win-message {
  display: none;
  position: absolute;
  margin-left: 33%;
  margin-top: 350px;
}
#blue-win-message p {
  font-size: 20px;
  margin-top: 480px;
}

#blue-win-message h1{
  color: blue;
}

#green-win-message {
  display: none;
  position: absolute;
  margin-left: 33%;
  margin-top: 350px;
}
#green-win-message p {
  font-size: 20px;
  margin-top: 480px;
}

#green-win-message h1{
  color: blue;
}

#white-win-message {
  display: none;
  position: absolute;
  margin-left: 33%;
  margin-top: 350px;
}
#white-win-message p {
  font-size: 20px;
  margin-top: 480px;
}

#white-win-message h1{
  color: blue;
}

#ladders {
  color: brown;
}
#snakes {
  color: rgb(39, 203, 72);
}

body {
    text-align: center;
    background-image: url("../images/background.png")
  }

.board {
    width: 600px;
    height: 850px;
    margin: 0 auto;
    background-image: url("../images/tabuleiro-snakes.svg");
    background-color: blanchedalmond;
    background-size: 600px;
    padding-top: 65px;
  }

  .board > div {
    float: right;
    border: 2px solid rgba(0, 0, 0, 0);
    /* border: 2px solid red; */
    width: 40px;
    height: 50px;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 31px;
  }

  #red-player {
    border-radius: 100%;
    background-color: red;
    width: 20px;
    height: 20px;
    border: 3px solid black;
    
  }

  #blue-player {
    border-radius: 100%;
    background-color: blue;
    width: 20px;
    height: 20px;
    border: 3px solid black;
  }

  #green-player {
    border-radius: 100%;
    background-color: green;
    width: 20px;
    height: 20px;
    border: 3px solid black;
  }

  #white-player {
    border-radius: 100%;
    background-color: white;
    width: 20px;
    height: 20px;
    border: 3px solid black;
  }

#position-1 {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 10px 0 0 0;
  width: 70px;
  height: 70px;
}

#position-2 {
  padding: 10px 10px;
  width: 60px;
}

#position-3 {
  padding: 10px 10px;
  width: 60px;
}

#position-4 {
  padding: 10px 10px;
  width: 60px;
}

#position-5 {
  padding: 10px 10px;
  width: 60px;
}

#position-6 {
  padding: 10px 10px;
  width: 60px;
}

#position-7 {
  padding: 10px 10px;
  width: 60px;
}

#players-button {
  align-items: center;
  display: block;
  float: right;
  margin-right: 100px;
  
}

#two-players-button {
  display: block;
  margin-left: 80px;
  margin-bottom: 20px;
  margin-top: 100px;
  background-color: rgb(82, 186, 179);
  border-radius: 6px;
  border: none;
  color: rgb(255, 255, 255);
  padding: 10px;
  text-transform: uppercase;
  width: 250px;
  cursor: pointer;
}

#three-players-button {
  display: block;
  margin-left: 80px;
  margin-bottom: 20px;
  margin-top: 20px;
  background-color: rgb(82, 186, 179);
  border-radius: 6px;
  border: none;
  color: rgb(255, 255, 255);
  padding: 10px;
  text-transform: uppercase;
  width: 250px;
  cursor: pointer;
}

#four-players-button {
  display: block;
  margin-left: 80px;
  margin-bottom: 20px;
  margin-top: 20px;
  background-color: rgb(82, 186, 179);
  border-radius: 6px;
  border: none;
  color: rgb(255, 255, 255);
  padding: 10px;
  text-transform: uppercase;
  width: 250px;
  cursor: pointer;
}

#button {
    display: block;
    position: absolute;
    margin-left: 100px;
    margin-bottom: 30px;
    margin-top: 600px;
    background-color: rgb(82, 186, 179);
    border-radius: 6px;
    border: none;
    color: rgb(255, 255, 255);
    padding: 10px;
    text-transform: uppercase;
    width: 200px;
    cursor: pointer;
    display: none;
}

.dice {
  align-items: center;
  position: absolute;
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(8rem, 1fr));
  grid-template-rows: auto;
  justify-items: center;
  padding: 2rem;
  margin-left: 90px;
  margin-top: 300px;
  perspective: 600px;
}
.die-list {
  height: 6rem;
  list-style-type: none;
  position: relative;
  transform-style: preserve-3d;
  width: 6rem;
}
.even-roll {
  transition: transform 1.5s ease-out;
}
.odd-roll {
  transition: transform 1.25s ease-out;
}
.die-item {
  background-color: #fefefe;
  box-shadow: inset -0.35rem 0.35rem 0.75rem rgba(0, 0, 0, 0.3),
    inset 0.5rem -0.25rem 0.5rem rgba(0, 0, 0, 0.15);
  display: grid;
  grid-template-areas: "one two three" "four five six" "seven eight nine";
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  height: 100%;
  padding: 1rem;
  position: absolute;
  width: 100%;
}
.dot {
  align-self: center;
  background-color: #676767;
  border-radius: 50%;
  box-shadow: inset -0.15rem 0.15rem 0.25rem rgba(0, 0, 0, 0.5);
  display: block;
  height: 1.25rem;
  justify-self: center;
  width: 1.25rem;
}
.even-roll[data-roll="1"] {
  transform: rotateX(360deg) rotateY(720deg) rotateZ(360deg);
}
.even-roll[data-roll="2"] {
  transform: rotateX(450deg) rotateY(720deg) rotateZ(360deg);
}
.even-roll[data-roll="3"] {
  transform: rotateX(360deg) rotateY(630deg) rotateZ(360deg);
}
.even-roll[data-roll="4"] {
  transform: rotateX(360deg) rotateY(810deg) rotateZ(360deg);
}
.even-roll[data-roll="5"] {
  transform: rotateX(270deg) rotateY(720deg) rotateZ(360deg);
}
.even-roll[data-roll="6"] {
  transform: rotateX(360deg) rotateY(900deg) rotateZ(360deg);
}
.odd-roll[data-roll="1"] {
  transform: rotateX(-360deg) rotateY(-720deg) rotateZ(-360deg);
}
.odd-roll[data-roll="2"] {
  transform: rotateX(-270deg) rotateY(-720deg) rotateZ(-360deg);
}
.odd-roll[data-roll="3"] {
  transform: rotateX(-360deg) rotateY(-810deg) rotateZ(-360deg);
}
.odd-roll[data-roll="4"] {
  transform: rotateX(-360deg) rotateY(-630deg) rotateZ(-360deg);
}
.odd-roll[data-roll="5"] {
  transform: rotateX(-450deg) rotateY(-720deg) rotateZ(-360deg);
}
.odd-roll[data-roll="6"] {
  transform: rotateX(-360deg) rotateY(-900deg) rotateZ(-360deg);
}
[data-side="1"] {
  transform: rotate3d(0, 0, 0, 90deg) translateZ(4rem);
}
[data-side="2"] {
  transform: rotate3d(-1, 0, 0, 90deg) translateZ(4rem);
}
[data-side="3"] {
  transform: rotate3d(0, 1, 0, 90deg) translateZ(4rem);
}
[data-side="4"] {
  transform: rotate3d(0, -1, 0, 90deg) translateZ(4rem);
}
[data-side="5"] {
  transform: rotate3d(1, 0, 0, 90deg) translateZ(4rem);
}
[data-side="6"] {
  transform: rotate3d(1, 0, 0, 180deg) translateZ(4rem);
}
[data-side="1"] .dot:nth-of-type(1) {
  grid-area: five;
}
[data-side="2"] .dot:nth-of-type(1) {
  grid-area: one;
}
[data-side="2"] .dot:nth-of-type(2) {
  grid-area: nine;
}
[data-side="3"] .dot:nth-of-type(1) {
  grid-area: one;
}
[data-side="3"] .dot:nth-of-type(2) {
  grid-area: five;
}
[data-side="3"] .dot:nth-of-type(3) {
  grid-area: nine;
}
[data-side="4"] .dot:nth-of-type(1) {
  grid-area: one;
}
[data-side="4"] .dot:nth-of-type(2) {
  grid-area: three;
}
[data-side="4"] .dot:nth-of-type(3) {
  grid-area: seven;
}
[data-side="4"] .dot:nth-of-type(4) {
  grid-area: nine;
}
[data-side="5"] .dot:nth-of-type(1) {
  grid-area: one;
}
[data-side="5"] .dot:nth-of-type(2) {
  grid-area: three;
}
[data-side="5"] .dot:nth-of-type(3) {
  grid-area: five;
}
[data-side="5"] .dot:nth-of-type(4) {
  grid-area: seven;
}
[data-side="5"] .dot:nth-of-type(5) {
  grid-area: nine;
}
[data-side="6"] .dot:nth-of-type(1) {
  grid-area: one;
}
[data-side="6"] .dot:nth-of-type(2) {
  grid-area: three;
}
[data-side="6"] .dot:nth-of-type(3) {
  grid-area: four;
}
[data-side="6"] .dot:nth-of-type(4) {
  grid-area: six;
}
[data-side="6"] .dot:nth-of-type(5) {
  grid-area: seven;
}
[data-side="6"] .dot:nth-of-type(6) {
  grid-area: nine;
}

button {
  align-self: center;
  background-color: #efefef;
  border: none;
  color: #333;
  font-size: 1.25rem;
  font-weight: 700;
  justify-self: center;
  padding: 0.5rem 1rem;
}
button:hover {
  cursor: pointer;
}

@media (min-width: 900px) {
  .dice {
    perspective: 1300px;
  }
}


.turn {
  position: absolute;
  align-items: center;
  margin-top: 180px;
  margin-left: 50px;
}

.turn div{
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
  font-size: 20px;
  width: 100px;
  height: 30px;
  margin-left: 100px;
}

#turn-color {
  width: 100px;
  height: 30px;
  border: 2px solid black;
  background-color: red;
  margin-left: 100px;
}